
*.iml
*.xml
.idea/workspace.xml
.idea/workspace.xml
__pycache__/DataAnalysis.cpython-38.pyc
.idea/workspace.xml
__pycache__/file_reader.cpython-38.pyc
__pycache__/Hackathon.cpython-38.pyc
.idea/workspace.xml
__pycache__/DataAnalysis.cpython-38.pyc
__pycache__/file_reader.cpython-38.pyc
__pycache__/Hackathon.cpython-38.pyc
